// colors styles

$background: #181a1b;

$primary-color: #129aad;
$secondary-color: #004f5c;
$tertiary-color: #20272a;

$text-color: #c6bcae;

// font styles

$family: 'Poppins', sans-serif;
$small-size: 0.8em;
$large-size: 1.3em;
$x-large-size: 1.8em;
$regular-weight: 500;
$medium-weight: 600;
$bold-weight: 700;

// marging and padding

$x-small-margin: 0.3em;
$medium-margin: 1em;
$large-margin: 3em;
$x-large-margin: 6em;
$x-small-padding: 0.2em;
$small-padding: 0.4em;
$s-m-padding: 0.5em;
$medium-padding: 1em;
$large-padding: 1.5em;
$x-large-margin: 6em;
